{{!-- THIS PAGE IS LIKE THE INDEX.HTML SHELL --}}
<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Mario's To Do List</title>
</head>
<body>
{{!-- THREE BRACES SAYS WE CAN TAKE IN HTML ELEMENTS --}}

{{{ body }}}

</body>
</html>